<% include header.ejs %>
  <div class="container">
    <h1><%= title %></h1>
    <h4>Here's how much money you would have if you invested your tuition in bitcoin.</h4>
    <br><br>
    <form method="POST" action="">
  <div class="form-group name">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
    <small id="name" class="form-text text-muted">You'll be featured on the leaderboard if I have time to make one</small>
  </div>
  <br>
  <div class="form-group program">
    <label for="program">Program</label>
    <select name="program" class="form-control" id="program">
      <option>Math</option>
      <option>CS</option>
      <option>FARM</option>
      <option>SE</option>
      <option>AHS</option>
      <option>Arts</option>
      <option>AFM</option>
      <option>GBDA</option>
      <option>Architecture</option>
      <option>Environment</option>
      <option>BAMath</option>
      <option>BACS</option>
      <option>CPA</option>
      <option>CFM</option>
      <option>Science</option>
    </select>
  </div>
  <br>
  <div class="form-group term">
    <label for="term">Term Currently Enrolled In</label>
    <select name="term" class="form-control" id="term">
      <option>1A</option>
      <option>1B</option>
      <option>2A</option>
      <option>2B</option>
      <option>3A</option>
      <option>3B</option>
      <option>4A</option>
      <option>4B</option>
      <option>5A</option>
      <option>5B</option>
      <option>5C</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-secondary submit">Submit</button>
</form>
<br>
<div class="row mt-5">
  <% for(term in data) {%>
    <div class="col col-sm-6">
      <div class="termOutline">
      <h3> Term: <%= data[term].term %> </h3>
      <h4> Price of bitcoin: $<%= data[term].btcusd %> </h4>
      <h4> You tuition cost: $<%= data[term].termCost %> </h4>
      <h4> Tuition in BTC: <%= data[term].btc %> </h4>
    </div>
    </div>
   <% } %>
</div><br><br>

  <h2 class="total">Total: <span class="gold btc"><%= total %>BTC</span> or <span class="gold usd">$0</span>.</h2>
  <script>
  $.ajax({
  dataType: "json",
  url: "https://api.coindesk.com/v1/bpi/currentprice/btc",
  success: (data) => {
    console.log(data);
    $(".usd").text("$"+(data.bpi.USD.rate_float*<%= total %>).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
  }
  });
  </script>

  </div>
<% include footer.ejs %>
